torch==2.4.1 
torchvision==0.19.1 
torchaudio==2.4.1
causal-conv1d==1.4.0
mamba-ssm==2.2.4
mambavision
timm
pillow
transformers>=4.43
accelerate>=0.33
datasets>=2.19
evaluate>=0.4
peft>=0.12.0
scikit-learn>=1.3
bitsandbytes>=0.43.0
pennylane
pennylane-lightning[gpu]
seaborn
matplotlib
numpy
pandas